/*!
 * SPDX-FileCopyrightText: 2018 Nextcloud GmbH and Nextcloud contributors
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */
@use 'sass:math';

.rd-settings-documentation {
	max-width: 50em;
}

#richdocuments {
	#use_group_select, #edit_group_select {
		width: 200px;
		display: block;
	}

	p {
		margin-bottom: 15px;
	}

	#s2id_use_group_select,
	#s2id_edit_group_select {
		margin-left: 18px;
		margin-top: -4px;
		width: 300px !important;
	}

	// inline buttons on section headers
	> h2 {
		display: inline-flex;
		align-items: center;

		.icon-info,
		.icon-add,
		.icon-loading-small {
			width: 44px;
			height: 44px;
			margin: -6px;
			margin-left: 10px;
			opacity: 0.5;
			white-space: nowrap;
			line-height: 44px;
			padding-left: 44px;
			font-size: 16px;

			&:hover,
			&:focus,
			&:active {
				opacity: 0.7;
			}
		}
	}
}

textarea#documentSigningCertField {
	width: 600px;
}

textarea#documentSigningKeyField {
	width: 600px;
}

textarea#documentSigningCaField {
	width: 600px;
}

input#zoteroAPIKeyField {
	width: 300px;
}
