/*!
 * SPDX-FileCopyrightText: 2016 Nextcloud GmbH and Nextcloud contributors
 * SPDX-FileCopyrightText: 2013-2015 ownCloud, Inc.
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

body {
	position: fixed;
	width: 100%;
	height: 100%;
}

#mainContainer{
	position: absolute;
	width:100%;
	z-index: 500;
	top: 0px;
	bottom: 0;
}

#loadingContainer.icon-loading {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 600;
	background-color: var(--color-main-background);
}

#proxyLoadingContainer {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: var(--color-main-background);
}

#proxyLoadingMessage {
	position: relative;
	margin-top: 10px;
}

#revViewerContainer{
	position: absolute;
	width: 100%;
	z-index: 600;
	background-color: #ddd !important;
	top: 0px;
	bottom: 0;
}

#revViewer{
	position: relative;
	height: 100%;
}

#revPanelContainer{
	position: fixed;
	width: 250px;
	z-index: 600;
	background-color: #efefef !important;
	right: 0;
	top: 0px;
	bottom: 0;
	box-sizing: border-box;
	overflow-x: hidden;
	overflow-y: auto;
}


/* For close button image */
#revViewerContainer .closeButton {
	position: absolute;
	right: 2px;
	top: 5px;
	width: 20px;
	height: 24px;
	z-index: 1;
	border: none;
}
