/**
 * If you are developing a project that makes use of Dijit widgets, you will probably want to include the two files
 * below; otherwise, you can remove them. When building for release, Dojo will automatically combine all of your
 * @imported CSS files into a single file.
 *
 * It is highly, highly recommended that you develop your CSS using Stylus: http://learnboost.github.com/stylus/.
 */

@import '../resources/dojo/resources/dojo.css';
@import '../resources/dijit/themes/claro/claro.css';
@import '../resources/dojox/layout/resources/ExpandoPane.css';
@import '../resources/dojox/widget/ColorPicker/ColorPicker.css';
