.icon-filetype-document{
	background-image: url('../img/x-office-document.svg')
}

.icon-filetype-spreadsheet{
	background-image: url('../img/x-office-spreadsheet.svg');
}

.icon-filetype-presentation {
	background-image: url('../img/x-office-presentation.svg');
}

.icon-filetype-draw {
	background-image: url('../img/x-office-drawing.svg');
}

.icon-richdocuments {
	background-image: url(../img/app-dark.svg);
}

body.dark .icon-richdocuments {
	background-image: url(../img/app.svg);
}
