.icon-filetype-document{
	background-image: url('../img/x-office-document.svg')
}

.icon-filetype-spreadsheet{
	background-image: url('../img/x-office-spreadsheet.svg');
}

.icon-filetype-presentation {
	background-image: url('../img/x-office-presentation.svg');
}

.icon-filetype-draw {
	background-image: url('../img/x-office-drawing.svg');
}
