@font-face {
  font-family: "Gentium Basic";
  src: url("./fonts/GenBasR.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gentium Basic";
  src: url("./fonts/GenBasB.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Gentium Basic";
  src: url("./fonts/GenBasI.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Gentium Basic";
  src: url("./fonts/GenBasBI.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Liberation Mono";
  src: url("./fonts/LiberationMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Liberation Mono";
  src: url("./fonts/LiberationMono-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Liberation Mono";
  src: url("./fonts/LiberationMono-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Liberation Mono";
  src: url("./fonts/LiberationMono-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Liberation Sans";
  src: url("./fonts/LiberationSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Liberation Sans";
  src: url("./fonts/LiberationSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Liberation Sans";
  src: url("./fonts/LiberationSans-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Liberation Sans";
  src: url("./fonts/LiberationSans-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Liberation Serif";
  src: url("./fonts/LiberationSerif-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Liberation Serif";
  src: url("./fonts/LiberationSerif-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Liberation Serif";
  src: url("./fonts/LiberationSerif-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Liberation Serif";
  src: url("./fonts/LiberationSerif-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Linux Biolinum G";
  src: url("./fonts/LinBiolinum_R_G.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Linux Biolinum G";
  src: url("./fonts/LinBiolinum_RB_G.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Linux Biolinum G";
  src: url("./fonts/LinBiolinum_RI_G.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Lohit Devanagari";
  src: url("./fonts/Lohit-Devanagari.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "WenQuanYi Micro Hei";
  src: url("./fonts/wqy-microhei.ttc") format("truetype");
  font-weight: normal;
  font-style: normal;
}
