/*!
 * SPDX-FileCopyrightText: 2018 Nextcloud GmbH and Nextcloud contributors
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */
@media only screen and (max-width: 768px) {
	#header {
		display: none !important;
	}

	#content-wrapper {
		padding-top: 0;
	}

	#content {
		padding-top: 0;
	}

	#richdocumentsframe {
		height: 100%;
		position: fixed;
	}
}
