/* IE 8 fixes */
.ie8 .document label {
	background-color: #fff;
}
.ie8 .add-document .upload {
	margin-top: 5px;
}
/* end IE 8 fixes */

#editor {
	box-shadow: none !important;
}

#editor ::-webkit-scrollbar-thumb {
	background-color: #fff;
}

.documentslist { padding:5px; }

.documentslist .document, 
.documentslist .progress,
.documentslist .add-document{
	display: inline-block;
	height: 200px;
	width: 200px;
	float: left;
	margin: 14px;
	vertical-align: top;
}

.add-document a {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: inline-block;
	position: relative;
	height: 100px;
	width: 200px;
	background-repeat: no-repeat;
	background-size: 32px;
	background-position: 50%;
}

.add-document a.add {
	border-bottom: 1px solid #fff;
}
.add-document .add,
.add-document .upload {
	opacity: .7;
	border: 1px solid #e8e8e8;
}
.add-document .upload {
	margin-top: 4px;
}
.add-document .add:hover,
.add-document .add:focus,
.add-document #upload:hover .upload,
.add-document .upload:focus {
	opacity: 1;
	border: 1px solid #818181;
}

.add-document label {
	position: absolute;
	bottom: 10px;
	width: 100%;
	font-weight: normal;
	text-align: center;
}

.documentslist .progress{
	border: 1px solid #e8e8e8;
}

.documentslist .progress div{
	margin-top: 144px;
	text-align: center;
}

.documentslist .document:hover,
.documentslist .document a:focus {
	background-color: #ddd;
}

.documentslist .session-active {
	position: relative;
	margin-left: 128px;
	margin-top: 128px;
	width: 32px;
}
.document a {
	display: block;
	position: relative;
	height: 200px;
	width: 200px;
	background-repeat: no-repeat;
	background-size: 200px;
	border: 1px solid #e8e8e8;
}
.document a:hover {
	border: 1px solid #818181;
}
.document label {
	background: rgba(255, 255, 255, 0.7);
	position: absolute;
	bottom: 0px;
	width: 100%;
	font-weight: normal;
	text-overflow: ellipsis;
	overflow: hidden;
	text-align: center;
	padding: 0 8px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	white-space: nowrap;
}

#odf-toolbar{
	text-align: left;
	position: absolute;
	width: 100%;
	padding:0;
	z-index: 500;
}

#odf-toolbar #dropdown{
	right: auto;
	top: 83px;
}

#body-user #document-title #header{
	height: 45px;
}

#document-title{
	padding: 4px 0 5px;
	border-bottom: 1px solid #E9E9E9;

	text-align: center;
	font-weight: bold;
	color:#fff;
	background-color:#1d2d44;
}

#document-title div.logo-wide{
	float: left;
	margin: 5px;
	z-index: 110;
}

#document-title div{
	position: relative;
}
#document-title .filename {
	margin-top: 8px !important;
	width: 300px;
}
#document-title-container {
	padding-top: 7px;
	font-weight: normal;
}

#odf-close{
	margin-top: 0;
	float: right;
}
#odf-close.icon-close {
	height: 29px;
	width: 29px;
}

#odf-invite{
	margin-top: 0;
	margin-left: 3px;
	float: left;
	background-position: 5px center;
	padding-left: 24px;
}

#mainContainer{
	position: absolute;
	z-index: 500;
	background-color: #ddd !important;
}

#documents-overlay,  #documents-overlay-below{
    position: fixed;
    top: 45px;
    left: 0;
    width: 100%;
    height: 100%;
    filter:alpha(opacity=60);
    opacity: .6;
    z-index: 1000;
	background-color: #fff;
}

#documents-overlay-below{
	right: 72px;
	top: 83px;
    filter:alpha(opacity=100);
    opacity: 1;
	background:#fff;
	z-index: 999;
}

#file_upload_start{
	display: block;
	position:relative;
	left:0; top:0; width:200px; height:100px; 
	margin-bottom: -110px;padding:0;
	cursor:pointer; overflow:hidden;
	font-size:1em;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; filter:alpha(opacity=0); opacity:0;
	z-index:20; 
}

#saving-document{
	float:right;
	display:none;
}

#warning-connection-lost{
	padding: 6px 0;
	text-align: center;
	color: #ffffff;
	background-color: #CE7070;
	font-size: 16px;
	font-weight: bold;
}

#warning-connection-lost img {
	margin-right: 4px;
	float: right;
	height: 20px;
}

#connection-lost{
	right: 5px;
	background: #fff;
	width: 95%;
	position: absolute;
	top: 87px;
}

/* override WebODF styling here */
#mainContainer #collaboration{
	float:right;position: relative;z-index: 1;
	width: 70px;padding:5px;
}

#members {
	padding-top: 86px !important;
	background-color: #ddd !important;
}

.memberListButton {
	background-color: transparent !important;
	box-shadow: none !important;
	border: none !important;
}

.memberListButton span {
	display: block;
    border-radius: 3px;
    display: block;
    margin: auto;
}

.memberListButton img{
    border: 0 none !important;
}

.memberListButton input{
	width:46px;
}

#memberList .memberListLabel {
	color: #555 !important;
	border-radius: 3px !important;
	padding: 0 !important;
	font-size: 10px !important;
}

#toolbar {
	top: 45px !important;
	border-bottom: none !important;
	padding: 5px 0 0 !important;
	box-shadow: none !important;
	background-color: rgba(255,255,255,.95);
}

#toolbar > .dijit{
	margin-left:3px;
}
#toolbar > span.dijit{
	margin-left: 0;
}

#container {
	top: 83px !important;
}

#canvas > div {
	box-shadow: none !important;
}

cursor > div {
	padding-bottom: 0 !important;
}

editinfo > div.editInfoMarker {
	width: 4px;
	border-radius: 0;
	box-shadow: 0 0 0 #fff;
	background-clip:content-box;
	padding: 0 5px;
}

editinfo > div.editInfoMarker:hover {
}

.dijitToolbar{
	min-height: 31px;
}

.dijitToolbar .dijitDropDownButton {
	padding-top: 2px;
}

.dijitSpinner .dijitSpinnerButtonContainer .dijitArrowButton {
margin-top: -1px;
}

.claro .dijitTextBox .dijitInputInner,
.claro .dijitSpinner .dijitSpinnerButtonInner {
	margin: 0;
}

/* part of dojo.css */
.dojoTabular {border-collapse: collapse; border-spacing: 0; border: 1px solid #ccc; margin: 0 1.5em;}
.dojoTabular th {text-align: center; font-weight: bold;}
.dojoTabular thead,.dojoTabular tfoot {background-color: #efefef; border: 1px solid #ccc; border-width: 1px 0;}
.dojoTabular th,.dojoTabular td {padding: 0.25em 0.5em;}

/* raise notification z-index above the documents app */
#odf-toolbar + #notification-container {
	z-index: 501;
}

document p{
	cursor:auto;
}
