#emptyfolder { position:absolute; margin:10em 0 0 10em; font-size:1.5em; font-weight:bold; color:#888; text-shadow:#fff 0 1px 0; }

.documentslist { padding:5px; width:100%;}
.documentslist tr:hover {  backgound-color:#aaa; }
.documentslist tr td {  padding:5px; }

#office-content{
padding-left:160px;
}
#office-content.wide{
	padding-left: 0;
}

#editing-sessions{
	position:absolute;
	left:0;
	padding:5px;
	top:3em;
	width:150px;
	overflow:hidden;
}
#editor-content{
position:relative;top:3em;width: 100%;
}


#editing-sessions div{
	margin:5px 0;
}

#odf_close{
float:left;
}

#odf_invite{
	float:right;
}

#editor-content #mainContainer{
	background-color: transparent;
}

#mainContainer #collaboration{
	position: relative;z-index: 1;
	width: 120px;margin-left: 10px;
}
#memberList{
	padding-top: 5px;
}

#invite-block{
	position: absolute;
	top:3em;
	margin-top:-3px;
	right:72px;
	padding: 10px;
	background-color: #ddd;
}

#invitee-list li{
	padding: 5px 0 5px 20px;
	background: url('%webroot%/core/img/actions/delete.svg') 0 50% no-repeat;
}