#emptyfolder { position:absolute; margin:10em 0 0 10em; font-size:1.5em; font-weight:bold; color:#888; text-shadow:#fff 0 1px 0; }

.documentslist {  position:relative;top:3em; padding:5px; width:100%;}
.documentslist tr:hover {  backgound-color:#aaa; }
.documentslist tr td {  padding:5px; }

