#emptyfolder {
	position:absolute; margin:10em 0 0 10em;
	font-size:1.5em; font-weight:bold; color:#888; text-shadow:#fff 0 1px 0;
}

.documentslist { padding:5px; }

.documentslist .add-document{
	display: inline-block;
	height: 200px;
	width: 200px;
	margin: 1em;
	vertical-align: top;
}
.add-document a {
	display: inline-block;
	position: relative;
	height: 200px;
	width: 200px;
	background-repeat: no-repeat;
	background-size: 64px;
	background-position: 50% 68px;
}
.add-document .add {
	background-image: url('%webroot%/core/img/actions/add.svg');
}
.add-document .upload {
	background-image: url('%webroot%/core/img/actions/upload.svg');
}
.add-document label {
	position: absolute;
	bottom: 5px;
	width: 100%;
	color: white;
	text-shadow: 0 0 10px #000;
	text-align: center;
}
.documentslist .document {
	display: inline-block;
	height: 200px;
	width: 200px;
	margin: 1em;
	vertical-align: top;
}
.documentslist .session-active {
	position: relative;
	margin-left: 128px;
	margin-top: 128px;
	width: 32px;
}
.document a {
	display: block;
	position: relative;
	height: 200px;
	width: 200px;
	background-repeat: no-repeat;
	background-size: 64px;
	background-position: 68px;
}
.document label {
	position: absolute;
	bottom: 5px;
	width: 100%;
	color: white;
	text-shadow: 0 0 10px #000;
	text-align: center;
}

#odf-toolbar{
	position: absolute;
	width: 100%;
	z-index: 500;
}

#odf-close{
	float:left;
}

#odf-invite{
	float:right;
}

#mainContainer #collaboration{
	float:right;position: relative;z-index: 1;
	width: 70px;padding:5px;
}

#invite-block{
	position: absolute;
	top:3em;
	margin-top:-3px;
	right:72px;
	padding: 10px;
	background-color: #ddd;
}

#invitee-list li{
	padding: 5px 0 5px 20px;
	background: url('%webroot%/core/img/actions/delete.svg') 0 50% no-repeat;
}

#mainContainer{
	position:absolute;
	z-index:500;
}

#documents-overlay,  #documents-overlay-below{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter:alpha(opacity=30);
    opacity: 0.3;
    z-index: 1000;
	background: #000 url('%webroot%/core/img/loading-dark.gif') 50% 50% no-repeat;
}
#documents-overlay-below{
	left:0;
	top:0;
    filter:alpha(opacity=100);
    opacity: 1;
	background:#f0f0f0;
	z-index: 999;
}

#members{
	padding-top: 3em !important;
}