#emptyfolder {
	position:absolute; margin:10em 0 0 10em;
	font-size:1.5em; font-weight:bold; color:#888; text-shadow:#fff 0 1px 0;
}

.documentslist { padding:5px; }

.documentslist .add-document{
	display: inline-block;
	height: 200px;
	width: 200px;
	background-color: #e8e8e8;
	margin: 1em;
	vertical-align: top;
	border-radius: 5px;
}
.add-document a {
	display: inline-block;
	position: relative;
	height: 200px;
	width: 200px;
	background-repeat: no-repeat;
	background-size: 64px;
	background-position: 50% 68px;
}
.add-document .add {
	background-image: url('%webroot%/core/img/actions/add.svg');
}
.add-document .upload {
	background-image: url('%webroot%/core/img/actions/upload.svg');
}
.add-document label {
	position: absolute;
	bottom: 5px;
	width: 100%;
	font-weight: normal;
	text-align: center;
}

.documentslist .document {
	display: inline-block;
	height: 200px;
	width: 200px;
	background-color: #e8e8e8;
	margin: 1em;
	vertical-align: top;
	border-radius: 5px;
}
.documentslist .document:hover,
.documentslist .document:focus,
.documentslist .add-document:hover,
.documentslist .add-document:focus {
	background-color: #ddd;
}

.documentslist .session-active {
	position: relative;
	margin-left: 128px;
	margin-top: 128px;
	width: 32px;
}
.document a {
	display: block;
	position: relative;
	height: 200px;
	width: 200px;
	background-repeat: no-repeat;
	background-size: 64px;
	background-position: 68px;
}
.document label {
	position: absolute;
	bottom: 5px;
	width: 100%;
	font-weight: normal;
	text-overflow: ellipsis;
	overflow: hidden;
	text-align: center;
	padding: 0 8px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	white-space: nowrap;
}

#odf-toolbar{
	position: absolute;
	width: 100%;
	padding:0;
	z-index: 500;
}

#document-title{
	position: relative;
	top: 6px;
	width:50%;
	margin:0 auto -14px auto;
	text-align: center;
	font-weight: bold;
}

#odf-close{
	float: right;
}

#odf-invite{
	float: left;
}

#mainContainer #collaboration{
	float:right;position: relative;z-index: 1;
	width: 70px;padding:5px;
}

#invite-block{
	position: absolute;
	top:3em;
	margin-top:-3px;
	right:72px;
	padding: 10px;
	background-color: #ddd;
}

#invitee-list li{
	padding: 5px 0 5px 20px;
	background: url('%webroot%/core/img/actions/delete.svg') 0 50% no-repeat;
}

#mainContainer{
	position:absolute;
	z-index:500;
}

#documents-overlay,  #documents-overlay-below{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter:alpha(opacity=30);
    opacity: .3;
    z-index: 1000;
	background: #111 url('%webroot%/core/img/loading-dark.gif') 50% 50% no-repeat;
}
#documents-overlay-below{
	left:0;
	top:0;
    filter:alpha(opacity=100);
    opacity: 1;
	background:#f0f0f0;
	z-index: 999;
}

/* override WebODF styling here */

#members{
	padding-top: 3em !important;
}

#editor {
	box-shadow: 0px 0px 14px #555 !important;
}

#toolbar {
	border-bottom: none !important;
	padding: 6px 0 !important;
}

#container {
	background-color: #ddd !important;
	top: 38px !important;
}