#editor ::-webkit-scrollbar-thumb {
	background-color: #fff;
}

.documentslist { padding:5px; }

.documentslist .document, 
.documentslist .progress,
.documentslist .add-document{
	display: inline-block;
	height: 200px;
	width: 200px;
	float: left;
	background-color: #e8e8e8;
	margin: 14px;
	vertical-align: top;
	border-radius: 5px;
}

.add-document a {
	display: inline-block;
	position: relative;
	height: 100px;
	width: 200px;
	background-repeat: no-repeat;
	background-size: 32px;
	background-position: 50%;
}
.add-document .add {
	background-image: url('%webroot%/core/img/actions/add.svg');
}
.add-document .upload {
	background-image: url('%webroot%/core/img/actions/upload.svg');
}

.add-document a.add {
	border-bottom: 1px solid #fff;
}
.add-document .add,
.add-document .upload {
	opacity: .7;
}
.add-document .add:hover,
.add-document .add:focus,
.add-document #upload:hover .upload,
.add-document .upload:focus {
	opacity: 1;
}

.add-document label {
	position: absolute;
	bottom: 10px;
	width: 100%;
	font-weight: normal;
	text-align: center;
}

.documentslist .progress{
	position:absolute;
	left:232px;
	z-index:5;
	background: #e8e8e8 url('%webroot%/core/img/loading.gif') 50% 50% no-repeat;
}

.documentslist .progress div{
	margin-top: 144px;
	text-align: center;
}

.documentslist .document:hover,
.documentslist .document a:focus {
	background-color: #ddd;
}

.documentslist .session-active {
	position: relative;
	margin-left: 128px;
	margin-top: 128px;
	width: 32px;
}
.document a {
	display: block;
	position: relative;
	height: 200px;
	width: 200px;
	background-repeat: no-repeat;
	background-size: 64px;
	background-position: 68px;
}
.document label {
	position: absolute;
	bottom: 5px;
	width: 100%;
	font-weight: normal;
	text-overflow: ellipsis;
	overflow: hidden;
	text-align: center;
	padding: 0 8px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	white-space: nowrap;
}

#odf-toolbar{
	text-align: left;
	position: absolute;
	width: 100%;
	padding:0;
	z-index: 500;
}

#odf-toolbar #dropdown{
	right:auto;
}

#document-title{
/*	position: absolute;
	top: 9px;
	left:50%;
	margin:0; */
	padding: 4px 0 5px;
	border-bottom: 1px solid #E9E9E9;

	text-align: center;
	font-weight: bold;
}
#document-title div{
	position: relative;
	/*margin-left:-50%;*/
}
#document-title>input {
	height:9px;
	margin: 0;
	padding-top:4px;
	width: 300px;
}

#odf-close{
	float: right;
}

#odf-invite{
	float: left;
}

#invite-block{
	position: absolute;
	top:3em;
	margin-top:-3px;
	left:0;
	padding: 10px;
	background-color: #bbb;
}

#invitee-list li{
	padding: 5px 0 5px 20px;
	background: url('%webroot%/core/img/actions/delete.svg') 0 50% no-repeat;
}

#mainContainer{
	position:absolute;
	z-index:500;
}

#documents-overlay,  #documents-overlay-below{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter:alpha(opacity=30);
    opacity: .3;
    z-index: 1000;
	background: #111 url('%webroot%/core/img/loading-dark.gif') 50% 50% no-repeat;
}

#documents-overlay-below{
	left:0;
	top:0;
    filter:alpha(opacity=100);
    opacity: 1;
	background:#f0f0f0;
	z-index: 999;
}

#file_upload_start{
	display: block;
	position:relative;
	left:0; top:0; width:200px; height:100px; 
	margin-bottom: -110px;padding:0;
	cursor:pointer; overflow:hidden;
	font-size:1em;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; filter:alpha(opacity=0); opacity:0;
	z-index:20; 
}

#warning-connection-lost{
	padding: 6px 0;
	text-align: center;
	color: #ffffff;
	background-color: #CE7070;
	font-size: 16px;
	font-weight: bold;
}

#warning-connection-lost img {
	margin-right: 4px;
	float: right;
	height: 20px;
}

#connection-lost{
	right: 5px;
	background: #fff;
	width: 95%;
	position: absolute;
	top: 87px;
}


/* override WebODF styling here */

#mainContainer #collaboration{
	float:right;position: relative;z-index: 1;
	width: 70px;padding:5px;
}

#members{
	padding-top: 69px !important;
}

.memberListButton span{
	display: block;
    box-shadow: 0px 0px 5px rgb(90, 90, 90) inset;
    background-color: rgb(200, 200, 200);
    border-radius: 5px;
    border: 2px solid;
    display: block;
    margin: auto;
}

.memberListButton img{
    border: 0 none !important;
}

#toolbar {
	border-bottom: none !important;
	padding: 5px 0 0 !important;
}

#toolbar > .dijit{
	margin-left:3px;
}
#toolbar > span.dijit{
	margin-left: 0;
}

#container {
	top: 38px !important;
}

cursor > div {
	padding-bottom: 0 !important;
}

editinfo > div.editInfoMarker {
	width: 4px;
	border-radius: 0;
	box-shadow: 0 0 0 #fff;
	background-clip:content-box;
	padding: 0 5px;
}

editinfo > div.editInfoMarker:hover {
}

.dijitToolbar .dijitDropDownButton {
	padding-top: 2px;
}

.dijitSpinner .dijitSpinnerButtonContainer .dijitArrowButton {
margin-top:-1px;
}

.claro .dijitTextBox .dijitInputInner,
.claro .dijitSpinner .dijitSpinnerButtonInner {
	margin: 0;
}

/* part of dojo.css */
.dojoTabular {border-collapse: collapse; border-spacing: 0; border: 1px solid #ccc; margin: 0 1.5em;}
.dojoTabular th {text-align: center; font-weight: bold;}
.dojoTabular thead,.dojoTabular tfoot {background-color: #efefef; border: 1px solid #ccc; border-width: 1px 0;}
.dojoTabular th,.dojoTabular td {padding: 0.25em 0.5em;}

/* raise notification z-index above the documents app */
#odf-toolbar + #notification-container {
	z-index: 501;
}
