#odf-canvas{
  position: relative;
  top: 37px;
  left: 0px;
  border:1px solid darkgray;
  border-left:0 none;
  box-shadow: 0px 4px 10px #000;
  -moz-box-shadow: 0px 4px 10px #000;
  -webkit-box-shadow: 0px 4px 10px #000;
}

.icon-filetype-document{
  background-image: url('../../../../core/img/filetypes/x-office-document.svg')
}

.icon-filetype-spreadsheet{
  background-image: url('../../../../core/img/filetypes/x-office-spreadsheet.svg');
}

.icon-filetype-presentation{
  background-image: url('../../../../core/img/filetypes/x-office-presentation.svg');
}

.richdocuments-sharing .icon-shared {
  display: block;
  width: 16px;
  height: 16px;
  padding: 16px;
  opacity: 0.6;
}

.richdocuments-sharing .icon-shared:hover,
.richdocuments-sharing .icon-shared:focus {
  opacity: 1;
}

#richdocumentsframe {
  background-color: #fff;
  width:100%;
  height:100%;
  display:block;
  position:absolute;
  top:0;
  z-index:60;
}

.richdocuments-avatar {
  float: right;
  border-radius: 50%;
  overflow: hidden;
  margin: 8px;
  margin-left: -20px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
}
.richdocuments-avatar.read-only {
  opacity: 0.8;
}
.richdocuments-avatar .popovermenu {
  margin-left: -20px;
}
