<div id="revPanelContainer" class="loleaflet-font">
	<div id="revPanelHeader">
		<h2>{{revisionHistoryLabel}}</h2>
		<span>{{filename}}</span>
		<a class="closeButton"><img src={{closeButtonUrl}} width="22px" height="22px"></a>
	</div>
	<div id="revisionsContainer" class="loleaflet-font">
		<ul></ul>
	</div>
	<input type="button" id="show-more-versions" class="loleaflet-font" value="{{moreVersionsLabel}}" />
</div>
